.rent {
	padding-bottom: 40px;
}

.rent__title {
	font-size: 48px;
	line-height: 1.2;
	letter-spacing: 0.15px;
	color: #002638;
	padding-bottom: 50px;
}

.rent__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 70px;
}

.rent__item--aside {
	width: 442px;
	display: flex;
}

.rent__item--content {
	width: calc(100% - 442px);
	padding-left: 60px;
	margin-left: auto;
}

.rent__item .card__details {
	max-width: 670px;
	margin-left: auto;
}

.rent__holder {
	display: flex;
}

.rent__box:first-child {
	margin-right: 84px;
}

.rent__box p {
	font-size: 16px;
	line-height: 1.2;
	color: #002638;
	padding-bottom: 8px;
}

.rent__box p a {
	color: #002638;
}

.rent__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px;
}

.rent__col {
	width: calc(100% / 4);
	background-color: #f7fafc;
	border-radius: 25px;
	margin-bottom: 10px;
	padding: 40px 15px;
}

.rent__col:first-child {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.rent__col:first-child .rent__col {
	padding-right: 8px;
}

.rent__col:first-child .rent__inner {
	width: 23%;
}

.rent__col:first-child .rent__block {
	width: 77%;
	padding-left: 35px;
}

.rent__col:first-child .rent__list {
	columns: auto 138px;
	column-gap: 20px;
}

.rent__col:not(:first-child) {
	width: calc(100% / 4 - 22px);
	margin: 0 11px;
	margin-bottom: 10px;
}

.rent__subtitle,
.rent__heading {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.15px;
	color: #002638;
	padding-bottom: 15px;
	font-weight: 700;
}

.rent__subtitle {
	text-align: center;
}

.rent__list li {
	text-align: center;
}

.rent__list li:not(:last-child) {
	margin-bottom: 10px;
}

.rent__elem {
	position: relative;
	font-size: 12px;
	line-height: 1.2;
	color: #002638;
	text-transform: uppercase;
	font-weight: 700;
}

.rent__elem:after {
	position: absolute;
	content: ' ';
	bottom: 1px;
	left: 0px;
	width: 100%;
	height: 1px;
	background-color: #002638;
	transition: 0.25s width;
}

.rent__elem:hover:after {
	width: 0px;
}

.rent__image {
	display: block;
	max-width: 136px;
	margin: 0 auto;
	margin-bottom: 16px;
}

.rent__image img {
	display: block;
}

@media screen and (max-width: 1022px) {

.rent__title {
	font-size: 36px;
	padding-bottom: 35px;
}

.rent__wrap {
	padding-bottom: 20px;
}

.rent__item--aside {
	width: 100%;
}

.rent__item--content {
	width: 100%;
	padding-left: 0px;
	margin: 0px;
}

.rent__item .card__details {
	max-width: 100%;
	margin: 0px;
	margin-top: 15px;
}

.rent__holder {
	display: block;
}

.rent__box:first-child {
	margin-right: 0px;
	padding-bottom: 12px;
}

.rent__col:not(:first-child) {
	width: calc(100% / 2 - 22px);
}

}

@media screen and (max-width: 767px) {

.rent {
	padding-bottom: 20px;
}

.rent__row {
	margin: 0px;
}

.rent__col {
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.rent__col:first-child {
	padding-left: 15px;
}

.rent__col:first-child .rent__inner {
	width: 100%;
}

.rent__col:first-child .rent__block {
	width: 100%;
	padding-left: 0px;
}

.rent__col:first-child .rent__list {
	columns: auto;
}

.rent__col:not(:first-child) {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}

}

